{{range $dir := lsdir "/services/nginx"}}

{{$filename := base $dir}}
{{$custdir := printf "/services/nginx/%s/servers/" $filename}}

{{$servernamedir := printf "/services/nginx/%s/root" $filename}}

server {
	listen 80;
	server_name {{getv $servernamedir}};
	return 301 https://$host$request_uri$is_args$args;
}

server {
	listen 80;
	server_name {{getv $servernamedir}};

	location / {

		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;

	{{$custdir := printf "/services/nginx/%s/servers/" $filename}}
	{{range ls $custdir}}
		{{$key := printf "/services/nginx/%s/servers/%s" $filename .}}
		{{$value := getv $key}}	
		proxy_pass http://{{$data := json $value}}{{$data.ip}}:{{$data.port}};
		proxy_read_timeout  90;

		proxy_redirect http://{{$data := json $value}}{{$data.ip}}:{{$data.port}} https://{{getv $servernamedir}};
	{{end}}

		add_header Pragma "no-cache";
		proxy_max_temp_file_size 0;

		#this is the maximum upload size
		client_max_body_size       10m;
		client_body_buffer_size    128k;

		proxy_connect_timeout      90;
		proxy_send_timeout         90;
		proxy_read_timeout         90;

		proxy_buffer_size          4k;
		proxy_buffers              4 32k;
		proxy_busy_buffers_size    64k;
		proxy_temp_file_write_size 64k;

	}
}
{{end}}