{{range $dir := lsdir "/services/nginx"}}

{{$filename := base $dir}}
{{$custdir := printf "/services/nginx/%s/servers/" $filename}}
{{if ne (len (ls $custdir)) 0}}
upstream {{$filename}} {
	{{$custdir := printf "/services/nginx/%s/servers/" $filename}}
	{{range ls $custdir}}
		{{$key := printf "/services/nginx/%s/servers/%s" $filename .}}
		{{$value := getv $key}}
		server {{$data := json $value}}{{$data.ip}}:{{$data.port}} fail_timeout=0;
	{{end}}
}
{{else}}
upstream {{$filename}} {
	server localhost;
}
{{end}}


{{$servernamedir := printf "/services/nginx/%s/root" $filename}}

server {
	listen 80;
	server_name {{getv $servernamedir}};
	return 301 https://$host$request_uri$is_args$args;
}

server {
	listen 443;
	server_name {{getv $servernamedir}};

	location / {

		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;

	{{$custdir := printf "/services/nginx/%s/servers/" $filename}}
	{{range ls $custdir}}
		{{$key := printf "/services/nginx/%s/servers/%s" $filename .}}
		{{$value := getv $key}}	
		proxy_pass http://{{$filename}};
		proxy_redirect http://{{getv $servernamedir}}:443 https://{{getv $servernamedir}};
	{{end}}

	}
}
{{end}}